pymupdf
requests
beautifulsoup4
black

# fastapi
fastapi
uvicorn

# llms for testing
# google-genai
# sentence-transformers 
# ollama
chromadb
pydantic_ai

#flask
flask
flask-cors

# logging
loguru